/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

@import "base";

.key-topics-tiles-body img {
	@include respond-to(handheld){
		margin-left: 2px !important;
		margin-right: 2px !important;
	}
}

/* IE9- fixes */
.lt-ie9 {
	.node-type-key-topics {
		.node-webform .webform-client-form .form-item label {
			display: inline;
			margin-bottom: 0.8em;
		}
	}
}