/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

article.view-mode-full { /* A nofe displayed in a full page */
  width: 75%;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-tieto-jobs-vacancy {
	max-width: 745px;
}


.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}


.node-type-contact,
.node-type-tieto-news-article {
  .region-header {
    // Compensate for the missing title on news pages
    padding-bottom: 4em;
  }
}

.section-tieto-times-issue {
  #header {
    margin-bottom: .5em;
    margin-bottom: 0;
  }
}
.node-type-magazine-article,
.section-tieto-times-issue,
.section-magazines{
  .field-content.magazineheader img {
    position: absolute;
    top: -160px;
  }
  .view-tieto-times .view-header img{
    position: absolute;
    top: -160px;
  }
  #header {
    .block-search, .block-menu, .block-menu-block, .block-tieto-megamenus {
      //visibility: hidden;
      display: none;
    }
    .region-header {
      // Let's mimic the h1 title on other pages, Commented out for views implementation
      height: $banner-font-size;
      padding: 20px 59px 20px 0;
      clear: both;
    }
    @include respond-to(handheld) {
      .header-inner {
        padding-left: 10px;
        padding-right: 10px;
      }
      .region-header {
        position: relative;
      }
    }
  }
  .breadcrumb {
    display: none;
  }
  #main {
    position: relative;
  }
}
// Add a padding for all atom images
.dnd-atom-wrapper.type-image {
  padding: 10px;
}
/* JS adds a class to the last visible pane per column, use this class to make the rows appear equal height */
.node-type-industry-hub-page {
  .industryhub-column {
    min-height: 0;
    .panel-pane {
      min-height: 1px;
      .pane-content {
        @include after-clearfix();
      }
    }
  }
  @include respond-to(narrow) {
    .industryhub-container {
      overflow: hidden;
      .tieto-panel-styles-region, .tieto-pane-wrapper {
        overflow: visible;
      }
      .panel-panel-inner {
        position: relative;
        .panel-pane {
          margin-top: 4px;
          margin-bottom: 0;
          overflow: visible;
          position: relative;
        }
      }
    }
  }
}
