/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";
//@include all-large-sprites;


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}
/*
 * Added padding to CKEditor
 */
.cke_editable {
  padding: 0 20px 5px;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
  color: $white;
  position: relative;
  margin-bottom: 2em;
  @include respond-to(handheld) {
    background-color: primary-light-blue;
    overflow: visible;

  }
}

#header div.header-image {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  background-color: $primary-light-blue;
  background-position: right top;
  @include background-size(100% 100%);
  @include respond-to(normal) {
    background-position: center top;
    @include background-size(100% auto);
  }
  @include respond-to(handheld) {
    background: $primary-light-blue;
  }
}

//Maintenance page layout changes

#maintenance_page {
  background-color: $primary-light-blue;
  height:220px;
}

#main_logo {
  /* Wrapping link for logo */
  float: right;
  padding: 10;
  margin: 10;
}

#logo-title {
  float: right;
  padding-right: 110px;
  padding-top:15px;
}
#main_body {
  padding-top: 110px;
}
#main_content {
  padding-top: 50px;
  padding-left:110px;
}

@include respond-to(handheld) {
  #maintenance_page {
    height: 104px;
  }
  #logo-title {
    padding-right: 35px;
    padding-top: 25px;
  }
  #main_content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}

.header-inner {
  padding-top: 10px;
  overflow: visible;
  @include respond-to(handheld) {
    padding: 30px;
  }

  @include respond-to(narrow) {
    @include after-clearfix();
  }
	> .logo {
		//display: none; // new header
	}

  .segment-title {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include respond-to(narrow) {
      padding-left: 60px;
      padding-right: 60px;
    }
    .title {
      color: $white;
      font-weight: bold;
      //@include adjust-title-font-size-to($h1-font-size);
      text-align: center;
      //text-shadow: $text-shadow;
    }
    div.title, h1.title {
      @include respond-to(narrow) {
        @include adjust-title-font-size-to($banner-font-size);
      }
      @include respond-to(handheld) {
        @include adjust-title-font-size-to($h1-font-size);
        margin-bottom: 0;
      }
    }
  }
}


#navigation {
}

.logo { /* Wrapping link for logo */
  float: right;
  padding: 0;
  margin: 0;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  @include respond-to(narrow) { margin-bottom: 2em; }
}



/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  @include respond-to(handheld) { display: none; }

  clear: both;
  font-size: $reduced-base-font-size;

  ol {
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    padding-right: .5em;
  }
  a {
    color: $primary-blue;
    display: inline-block;
    padding-right: .5em;
  }
  a.home {
    background: transparent url("../images/home.png") no-repeat top;
    height: 16px;
    width: 17px;
  }
  a.home:hover, a.home:active {
    background-position: bottom;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
  line-height: normal;
}

/*h1.title, */
#content h1 {
  @include respond-to(handheld) {
    //@include adjust-title-font-size-to($h2-font-size);
  }
  @include title-font();
  margin-top:0;
  //line-height: 0.7em;
}

h2.pane-title {
  @include title-font($h2-font-size);
  margin-top:0;
  line-height: normal;
}

.highlight_text {

  border-left: 2px solid $primary-blue;
  padding-left: $indent-amount;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
  &:before {
    border-top: 2px solid $primary-blue;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
  }
  div {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
  p {
    padding-top: 1.25em;
  }
  h2,h3,h4 {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
  }
}

//Maintenance page CSS

#maintenance_page{
  background-color:#76ceea;
}

.highlight_blue_pane ul {
  padding-left: 0;
  li {
    list-style: none;
  }
  li a:before {
    content: "› ";
  }
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.even, tr.odd {
  background-color: transparent;
  border-bottom: 0;
}

// For lack of a better place to put this...
/* Special table styles */


.field-name-body table {
  p {
    margin: .5em 0;
  }
  border-collapse: separate;
  border-bottom: 1px solid $base-font-color;
  @include adjust-font-size-to($sidebar-font-size);
  tr {
    th, td {
      padding-left: 10px;
      padding-right: 10px;
    }
    td {
      border-bottom: 1px solid $gray-3;
    }
  }
  thead tr {
    th {
      background-color: $primary-blue;
      border-right: 1px solid $gray-1;
      border-left: 1px solid $gray-1;
      color: $white;
    }
    td {
      background-color: $gray-1;
      border-bottom: 1px solid $primary-blue;
    }
  }
  tbody {
    th {
      background-color: $gray-1;
      border-bottom: 1px solid $white;
    }
    tr:hover {
      color: $white;
      th, td {
        background-color: $primary-blue;
        border-bottom: 1px solid transparent;
      }
    }
    tr:last-child {
      th, td {
        border-bottom: 0 none;
      }
    }
  }
}

table.block-table {
  @include block-table();
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
  margin: rhythm(1) 0;
  @include writers-cramp();
  li {
    @include adjust-font-size-to($sidebar-font-size);
    display: inline-block;
    margin-bottom: 1em;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;
    a {
      background-color: $primary-blue;
      color: $white;
      font-weight: normal;
      padding: 0.5em 0.75em;
      &:hover {
        background-color: $primary-red;
      }
    }
    &.pager-current {
      background-color: $gray-3;
      display: inline;
      color: $base-font-color;
      padding: 0.5em 0.75em;
    }
    &.pager-ellipsis {
      display: inline;
      padding: 0.5em;
      color: $primary-blue;
    }
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

img.file-icon, div.file-widget img {
//  @extend .large-file_blue;
//  height: 39px;
//  width: 0;
//  padding-left: 31px;
//  overflow: hidden;
//  vertical-align: text-bottom;

}

.addthis_toolbox {
  padding: 1em 0;
  clear: left;
  height: 16px;
  margin-bottom: 1em;

  .addthis_item {
    text-transform: uppercase;
    float: left;
    font-size: $tiny-heading-font-size;
    line-height: 16px;
    margin-right: 5px;
  }
}

/* for all the iframes in all columns */
.whelan-container, .whelan-stacked-container {
  iframe {
    width: 100%;
  }
}


/*
 * Panels
 */
.panel-panel {
}
.panel-pane {
}
.panel-panel-inner {
}

@include respond-to(handheld) {
  .panel-panel {
    width: 100%;
    float: none;
    .panel-panel-inner {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@include respond-to(narrow) {
  .whelan-column-content-region-inner, .whelan-stacked-column-content-region-inner {
    margin-right: 40px;
    //padding: 20px 10px 20px 0;
  }

  .whelan-column2-inner, .whelan-stacked-column2-inner {
    margin: 0;
  }

  .burr-flipped-content-inner,
  .burr-sidebar-inner {
    margin-right: 40px;
  }

  .whelan-column2, .whelan-stacked-column2 {
    .panel-pane {
      width: 100%;
      float: left;
    }
  }

  .bryant-sidebar-inner,
  .bartlett-sidebar-inner {
    margin-right: 40px;
  }

  .bartlett-content-container .bartlett-content-column1 {
    width: 70%;
  }
  .bartlett-content-container .bartlett-content-column2 {
    width: 30%;
  }

  .bartlett-content-header {
    //border-bottom: 1px dotted #999999;
    //padding-bottom: 15px;
  }

  .bartlett-content-header, .bartlett-content-container-column-container {
  }
}

@include respond-to(narrow-only) {
  .whelan-column1, .whelan-stacked-column1 {
    width: 40%;
  }
  .whelan-content, .whelan-stacked-content {

    width: 60%;
    .whelan-column-content-region-inner, .whelan-stacked-column-content-region-inner {
      margin-right: 0;
    }
  }
  .whelan-column2, .whelan-stacked-column2 {
    width: 60%;
    margin-left: 40%;
  }
}

/* When page is viewed in an iframe */
.viewmode-iframe {
  font-size: 80%;
  #page {
    background: transparent none;
  }
  .panel-panel {
    width: auto;
  }
  [class*=sidebar] {
    display: none;
  }
  .bryant-sidebar {
    display: none;
  }
  // Just get it out of the way, in case the user is logged in
  #admin-menu {
    display: none;
  }
  &.admin-menu, &.panels-ipe {
    margin: 0 !important;
  }

  &.search-open-jobs {
    .pane-page-title {
      display: none;
    }
    .pane-content h1 {
      @include apply-margin();
    }

    #views-exposed-form-tieto-jobs-solr-search-panel-pane-1 {
      display: none;
      .form-submit {
        margin-top: 6px;
        padding: 13px;
      }
    }
    .view-tieto-jobs-solr-search {
      table {
        margin-bottom: 0;
        margin-top: 0;
        width: 796px;
      }
      th, td {
        padding: 0.5em;
      }
      tr.even {
        background-color: $gray-1;
      }
    }
  }
}


/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}


/*
 * Panels "sidebars"
 */

.whelan-stacked-column1-inner,
.whelan-column1-inner,
.bryant-sidebar-inner,
.bartlett-sidebar-inner {
  .tieto-panel-styles-region,
  .tieto-pane-wrapper {
    @include respond-to(narrow) {
      overflow: visible;
    }
  }
  .panel-pane {
    @include respond-to(narrow) {
      @include extended-background(left);
      .pane-content {
        margin-bottom: 1em;
        overflow: hidden;
      }
    }
  }
  .pane-node-field-magazine-issue {
    .pane-content, .field {
      margin: 0;
    }
  }
  .drulog-panels-accordion {
    @include respond-to(narrow) {
      width: auto;
      @include extended-background(left);
      .panel-pane {
        padding: 0;
        position: static;
        &:after {
          content: none;
        }
      }
    }
  }
}

.whelan-column2-inner {
  @include respond-to(normal) {
    //padding-top: 1.5 * $h1-font-size;
    //padding-top: ($base-line-height / $base-font-size) * $h1-font-size;
    //padding-top: rhy
    @include leader(1, $h1-font-size);
    padding:0;
    margin:0;
  }
}

/*
* Panel pane overrides
*/
.whelan .tieto-panel-styles-region .tieto-pane-wrapper .panel-pane {
  margin: 0 0 1em;
  //padding: 0.5em 10px;
}



/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}



/* Cookie settings */

.ccc-inner h2 {
  background-image: none !important;
  padding-left: 9px !important;
  background-color: $primary-orange !important;
}

//Overriding cookie control icon sets with our own
#cccwr #cctoggle {
  background: url("/sites/all/themes/tietocom/images/bg/cookie-scroll.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  &.cctoggle-on {
    background-position: 100% 0 !important;
  }
}

div#ccc-icon button {
  background: url("/sites/all/themes/tietocom/images/bg/icon-cookie.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.ccc-expand {
  background: none repeat scroll 0 0 $primary-orange !important;
}
//All open jobs buttons

.pane-bundle-quick-links{
  .fieldable-panels-pane{
    li {
      margin-top: 8px;
      text-align: center;
    }
    li a {
      background: none repeat scroll 0 0 $primary-blue;
      color: $white;
      display: block;
      margin: 0 auto;
      max-width: 140px;
      padding: 8px;
    }
    a:hover {
    background: none repeat scroll 0 0 $primary-red;
    }
  }
}

//Crisis communication

.views-field-field-crisis-message-1:before {
  background-image: url("/sites/all/themes/tietocom/images/largecrisis.png");
  content: "";
  left: -89px;
  margin-left: -52px;
  padding: 39px 60px;
  position: relative;
  top: 68px;
  @include respond-to(handheld) {
    display: none;
  }
}
#draw-wrapper {
  background: none repeat scroll 0 0 #494949;
  font-size: 18px;
  font-family: arial;

  a:hover {
    text-decoration: underline;
  }

  .view-crisis-communication .views-field-body, .views-field-field-crisis-message-1{
    margin-left:15%;
    @include respond-to(handheld) {
      margin:5%;
    }
  }
  .views-field-body{
    a {
      color:$white;
      text-decoration: underline;
      &:hover{
        color:$primary-blue;
      }
    }
  }
  .views-field-field-crisis-message{
    a {
      background: url("/sites/all/themes/tietocom/images/cris_icon_small.png") no-repeat scroll 0 7px transparent;
      font-size: 21px;
      padding: 12px 0 10px 2em;
      color:$white;
      line-height: 30px;
    }
  }
  .views-field-field-crisis-message-1{
    display: none;
    font-size:30px;
    font-weight: 900;
    padding-right: 15%;
     a {
       color:$white;
       line-height: 30px;
     }
  }
  .view-crisis-communication .field-content p {
    margin: 0;
  }
  .block {
    padding-bottom: 0.8em;
    padding-top: 0.8em;
  }
  .views-field.views-field-colorbox{
    text-align: right;
    display:none;
    :hover{
      text-decoration: underline;
    }
  }
  #draw {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    .block{
      margin:0;
    }
  }
  .views-label.views-label-colorbox:after {
    background: url("/sites/all/themes/tietocom/images/arrow_up_16.png") no-repeat scroll 0 2px transparent;
    content: "";
    margin-left: 5px;
    padding-left: 16px;
    text-decoration: none;
  }
  .views-field-field-open-all-the-time {
    display: none;
  a:hover{
    text-decoration:underline;
  }
}

.view-crisis-communication{
  color: white;
  .views-field-body {
    display: none;
    padding-top: 20px;
  }
  }
}

//Caption css
.dnd-legend-wrapper {
  font-size: 14px;
  font-style: italic;
  display: table-cell;
}

//Raises scald over panels, allows dragging of content
.dnd-library-wrapper {
  z-index: 9999;
}

//this is video width related fix applied while production push
.dnd-atom-wrapper {
  display: block;
}
