/**
 * @file
 * Block Styling
 */
// This needs refactoring

.block {
  /* Block wrapper */
  @include trailer();

  &.first {
    /* The first block in the region */
  }

  &.last {
    /* The last block in the region */
  }

  &.odd {
    /* Zebra striping for each block in the region */
  }

  &.even {
    /* Zebra striping for each block in the region */
  }

  h2.block-title {
    /* Block title */
  }
}

#header {
  .region-header-image, .region-header {
    a {
      color: $white;
    }
    .contextual-links-wrapper a {
      color: inherit;
    }
  }
  .block-menu, .block-menu-block, #block-views-main-carousel-block {
    @include respond-to(narrow) {
      ul.menu, h1 {
        a:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}

.header-inner {
  .block {
    position: static;
    margin-bottom: 0;
  }
  .logo, .block {
    position: relative;
    z-index: 40;
  }
  #block-menu-menu-customer-area {
    z-index: 50;
  }
  .block-tieto-megamenus {
    z-index: 30;
  }

  @include respond-to(handheld) {
    .logo, .block {
      position: static;
    }
  }
}

.non-js .region-header .block {
  display: table-cell;
  vertical-align: top;
}

.js .region-header .block {
  visibility: hidden;
  float: left;
}

.js .region-header {
  position: relative;
  @include respond-to(handheld) {
    position: static;
  }
  .region-header-right {
    position: absolute;
    right: 0;
    @include respond-to(handheld) {
      //float: none;
      position: static;

    }

  }
}

.js .region-header .mobile-nav-enabled {
  display: block;
  visibility: visible;
  @include respond-to(handheld) {
    display: inline-block;
  }
}

#block-tieto-megamenus-megamenu {
  padding: 5px 0;

  .length-1 li.megamenu-link.last:after,
  .length-2 li.megamenu-link.last:after,
  .megamenu-margin {
    background-color: $white;
    height: 1em;
    position: absolute;
  }

  .length-1, .length-2 {
    li.megamenu-link.last:after {
      bottom: -6px;
      content: "";
    }
  }
  .length-1 li.megamenu-link.last:after {
    width: 200%;
  }

  .length-2 li.megamenu-link.last:after {
    width: 100%;
  }

  .megamenu-margin {
    bottom: -1px;
  }

  .megamenu-left {
    right: 5px;
    margin-right: 100%;
  }

  .length-1 li.megamenu-link.last:after,
  .length-2 li.megamenu-link.last:after,
  .megamenu-right {
    left: 5px;
    margin-left: 100%;
  }
}

body.search-block-active .header-image {
  background-image: none;
  .region {
    visibility: hidden;
  }
}

#block-search-form {
  /* "Search form" block */
  .header-block-content {
    display: block;
    top: 0;
    .search-block-link {
      a {
        display: block;
      }
    }
    form {
      display: none;
    }
  }

  @include respond-to(handheld) {
    .header-block-content {
      display: none;
      .search-block-link {
        display: none;
      }
      .header-block-inner {
        padding: 0 20px;
      }
      form {
        display: block;
      }
    }
  }

  @include respond-to(narrow) {
    a.home-link {
      display: none;
    }
  }
}


// Search block form that has been cloned in own element as an overlay
#tieto-lightbox #search-block-form {

  label {
    // need to find why this label is marked "element-invisible"
    clip: auto;
    height: auto;
    overflow: auto;
    position: static !important;
    // end element-invisible override

    color: $header-font-color;
    display: block;
    font-weight: normal;
    margin: 0.5em 0;
  }

  @include title-font();
  @include adjust-font-size-to($banner-font-size);
  margin: 64px;
  position: relative;

  input.form-text {
    border: 2px solid $primary-blue;
    background: 0 none;
    display: block;
  }
  #edit-actions {
    input.form-submit {
      height: 128px;
      width: 128px;
      margin-bottom: -0.615em;
      margin-right: -64px;
      position: absolute;
      right: 0;
      bottom: 0;
      @extend .large-find;
      height: 128px;
      width: 128px;
      border: 0 none;
      width: 0;
      height: 128px;
      text-indent: 999px;
      padding-left: 128px;
    }
  }
}


// frontpage header. used only on front pages where it has .node-type-tieto-frontpage class
.html.node-type-tieto-frontpage:not(.window-handheld) {
	#header #navigation {
		max-width: $max-width;
	}
	.header-inner {
		max-width: inherit;
		padding: 0;
		#logo {
			display: none;
		}
		#region_header_container {
			background-color: $primary-light-blue;
			z-index: 100;
			position: relative;
		}
		#block-tieto-megamenus-megamenu {
			margin: 0 0.625em;
		}
		.region-header {
			padding: 1.75em 0 2.25em;
			margin: 0 auto;
			max-width: $max-width;
			
			.block-menu-block.first {
				margin-top: -1.375em;
				margin-left: 0.625em;
				
				.block-title-wrapper { display: none; }
				a.home-link {
					display: inline-block;
					width: 0;
					height: 0;
					font-size: 0;
					text-indent: inherit;
					&:before {
						background: url('../images/logo-new.png') no-repeat -27px -27px;
						width: 60px;
						height: 60px;
						margin-left: 0;
						margin-top: 10px;
					}
				}
				.header-block-inner {
					margin-left: 4.69em; //90px
					a.menu__link {
						border-bottom: 1px solid transparent;
					}
				}
			}
			#block-search-form {
				margin-right: 0.625em;
			}
		}
	}
}
// end frontpage header
