/**
 * @file
 * Navigation Styling
 */

/*
 * The active item in a Drupal menu
 */

li {
  a, a.active {
    text-decoration: none;
  }
}

/*
 * Navigation bar
 */

#header {
	.header-inner {
		/* max-width: inherit;
		padding: 0; // new header */
	}
	#navigation {
		margin: 0 auto;
		max-width: 1140px;
	}
  ul.links, /* Main menu and secondary menu links */
  ul.menu {
    /* Menu block links */
    margin: 0;
    text-align: left; /* LTR */
    //position: relative;

    li {
      list-style-type: none;
      list-style-image: none;
    }
  }

  @include respond-to(narrow) {
    .block-menu-block {
      text-transform: lowercase;
    }
  }
  .menu__item.leaf .leaf {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  }
}

/*
 * Header navigation
 */
.header-inner .logo,
.region-header .show-header-block {
  @include respond-to(handheld) {
    position: relative;
    z-index: 10;
  }
}

/*
 * New header UI
 */
.region-header {
	//background-color: $primary-light-blue; // new header
	//padding: 28px 0 36px; // new header
	margin-right: 50px;
	z-index: 2;
	
	#region_header_container {
		max-width: 1140px;
		margin: 0 auto;
		position: relative;
		
		.block-menu-block.first {
			// margin-left: 70px; // new header
			@include respond-to(handheld) {
				margin-left: 30px;
			}
			
			.header-block-content {
				@include respond-to(handheld) {
					padding-top: 90px;
					top: -28px;
				}
				a.home-link {
					display: none; // new header - inline-block;
					font-size: 0;
					line-height: 0;
					position: absolute;
					margin: -10px 0 0 -59px;
					left: 0;
					height: 51px;
					width: 60px;
					overflow: hidden;
					@include respond-to(handheld) {
						display: none;
					}
					
					&:before {
						background: url("/sites/all/themes/tietocom/images/logo-new.png") no-repeat scroll -16px center / 170px auto rgba(0, 0, 0, 0);
						content: '';
						height: 75px;
						width: 80px;
					}
				}
				.header-block-inner {
					//margin-left: 15px; // new header - 40px
				}
			}
		}
		
		#block-search-form {
			margin-right: 8px;
		}
		
		.region-header-right .block-menu-menu-tieto-worldwide {
			display: none;
		}
	}

  .block {
    @include mobile-hidden-navigation();
    margin-top: 0.5em;
    @include respond-to(handheld) {
      @include adjust-font-size-to($handheld-nav-font-size);
      max-width: 25%;
      margin-top: 0;
      .show-header-block {
        @include hide-text;
        padding: 0;
        &:before {
          content: none;
        }
      }
    }
    @include respond-to(narrow) {
      margin: 0.5em 1em 0 0.5em;
      &.block-menu-block {
        @include adjust-font-size-to($h3-font-size);
      }
      &.block-menu-block ul.menu,
      .show-header-block {
        line-height: $large-icon-size;
      }
    }
    @include respond-to(normal) {
      margin-right: 1.5em;
      &#block-menu-menu-customer-area ul.menu {
        line-height: $large-icon-size;
      }
    }
  }

  .show-header-block {
    cursor: pointer;
    z-index: 5;
    @include respond-to(handheld) {
      margin-top: 10px;
      margin-right: $gutter-width;
    }
  }

  .active-header-block {
    .header-block-inner {
      position: relative;
      z-index: 10;
    }
  }

  .header-block-content {
    position: absolute;
    display: none;
    z-index: 3;

    ul.menu {
      padding-left: 0;
      ul.menu {
        padding-left: 20px;
      }
    }

    @include respond-to(handheld) {
      background-color: $primary-blue;
      color: $white;
      top: 0;
      left: 0;
      width: 100%;
      a {
        color: $white;
      }
      ul.menu {
        li {
          a, span.nolink {
            padding: $block-text-padding;
          }
          a, span {
            min-height: 34px;
          }

        }
      }
    }
  }

  a.home-link {
    @include respond-to(handheld) {
      border-top: 1px solid $primary-light-blue;
      border-bottom: 1px solid $primary-light-blue;
      display: block;
      font-weight: normal;
      padding: $block-text-padding;
      margin-top: 104px;
      text-indent:0;
      padding-left: 60px;
    }
    @include respond-to(narrow) {
      display: none;
    }
  }
}

/*
 * Menu blocks - Other header menus
 */
.region-header .block-menu {
  .show-header-block {
    @include respond-to(narrow-only) {
      @include hide-text;
    }
    @include respond-to(normal) {
      width: auto;
    }
  }

  .block-title-wrapper {
    height: $large-icon-size;
    padding-left: $large-icon-size + $inline-padding;
    padding-right: icons-sprite-width(arrow-white-down) + $inline-padding;
    padding-top: 2px;
    padding-bottom: 1px;
    h2.block-title {
      font-size: inherit;
      font-weight: normal;
      padding-left: $inline-padding;
      padding-right: $inline-padding;
      @include respond-to(narrow-only) {
        display: none;
      }
    }
  }

  @include respond-to(handheld) {
    .block-title-wrapper {
      display: none;
    }
  }
  @include respond-to(narrow) {
    position: relative;
    .show-header-block {
      &:after {
      }
    }
    .block-title-wrapper, .header-block-inner {
      background-color: $gray-9;
      clear: both;
      float: right;
    }
    .block-title-wrapper {
      z-index: -1;
    }
    .header-block-inner {
      min-width: 100%;
      padding: $block-text-padding;
      @include box-sizing(border-box);
    }

    .header-block-content {
      right: $inline-padding * -1;
      top: -2px;
    }

    ul.menu {
      white-space: nowrap;
      ul.menu {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
  }
  h2.block-title {
    color: $gray-9;
  }
}

.region-header #block-menu-menu-customer-area {
  ul.menu li a:before {
    right: 0;
    margin: $block-text-padding;
    margin-left: 0;
    top: 0;
    @include respond-to(narrow) {
      display: none;
    }
  }

  @include respond-to(normal) {
    .show-header-block,
    .block-title-wrapper {
      display: none;
    }
    .header-block-content {
      display: block;
      position: static;
      z-index: 15;
    }
    .header-block-inner {
      background-color: transparent;
      padding: 0;
    }
    ul.menu {
      display: block;
      a {
        display: block;
      }
    }
  }
}

/*
 * "Menu block" blocks - Main navigation
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */

.region-header .block-menu-block {

  @include respond-to(narrow) {
    margin-right: 0;
    margin-left: 0;
  }

  ul.menu {
    @include respond-to(handheld) {
      li {
        border-bottom: 1px solid $primary-light-blue;
        ul.menu {
          li {
            border-bottom: 0 none;
          }
        }
      }
      li.megamenu-link > a {
        font-weight: bold;
      }
    }
    ul.menu {
      display: none;
    }
  }
  @include respond-to(narrow) {
    .show-header-block {
      display: none;
    }
    .header-block-content {
      display: block;
      position: static;
    }
    ul.menu {
      li {
        float: left;
        a {
          display: block;
          margin-right: 2em;
        }
        &.last a {
          margin-right: 0;
        }
      }
    }
  }
}

#block-search-form {
  .search-block-link {
    a {
      @extend .show-header-block;
    }
  }
}

/*
 * Main menu panes
 */

.pane-menu-tree {
  .show-content {
    display: none;
  }

  ul.menu {
    @include sprite-icons-menu();
    margin: 0;
    li.active-trail > a {
      text-decoration: underline;
    }
  }

  @include mobile-hidden-content-nav();
  @include respond-to(handheld) {
    margin-bottom: 1em;
    .show-content {
      display: block;
      a {
        text-indent: 0;
        padding-left: 60px;
      }
    }
    h2.pane-title {
      display: none;
    }
    .pane-content {
      margin-top: 1em;
    }
  }
}

.node-type-tieto-landing-page,
.node-type-tieto-content-page {
  .pane-menu-tree {
    h2.pane-title {
      display: none;
    }
  }
}

.pane-tieto-industry-hublinks ul.menu {
  @include sprite-icons-menu();
}

/* Spriteys!!! */
// No Spriteys.

/*
 * Offerings menu
 */
@include respond-to(handheld) {
  #block-tieto-megamenus-megamenu {
    display: none;
  }
}

@include respond-to(narrow) {
  .js .mobile-nav-enabled {
    // Hide megamenu links in top menu
    .megamenu-link {
      display: none;
    }
  }
}

/* Colors and styles */
.megamenu-block {
  .megamenu-link {
    ul.menu {
      a {
        @include link-hover($base-font-color);
      }
      a.active, ul a.active-trail {
        color: $primary-red;
      }
      ul.menu {
        a {
          @include adjust-font-size-to($sidebar-font-size);
          line-height: normal;
        }
      }
    }

    .button {
      a {
        color: $white;
        font-weight: bold;
      }
      &:before {
        background-color: $white;
        @include opacity(.3);

      }
    }
    .subnav {
      @extend .icons-plus;

    }
    .megamenu-columns {
      @include after-clearfix();
      background-color: $white;
    }
    &:hover {
      cursor: pointer;
      .button {
        a {
          color: $primary-blue;
        }

        &:before {
          @include opacity(1);
        }
      }
      .subnav {
        @extend .icons-minus;
      }
    }
  }
  .megamenu-link-expanded {
    li.expanded > a {
      font-weight: bold;
      @include link-hover();
    }
  }
}

/* Layout */
.megamenu-block {
  .megamenu-link {
    display: inline-block;
    max-width: 33.5%;
    left: -1px;
    padding: 1px;
    vertical-align: middle;
    height: 2.75em;
    @include box-sizing(border-box);
    .megamenu-columns {
      margin: 5px 1px;
      padding: 0.5em 0 0.5em 0.75em;
    }
    ul.menu {
      top: 2.75em;
    }
  }
  .button {
    position: relative;
    height: 100%;
    display: block;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin: 1px;
      height: 100%;
      width: 100%;
    }

    a {
      @include box-sizing(border-box);
      display: inline-block;
      line-height: normal;
      margin-top: -1em;
      padding-left: 0.75em;
      padding-right: 22px + $base-font-size;
      position: relative;
      top: 1.25em;
      vertical-align: middle;
      width: 100%;
    }
  }
  .subnav {
    position: absolute;
    right: 0.75em;
    top: 50%;
    height: 22px;
    width: 22px;
    margin-top: -11px;
  }

  .megamenu-column {
    float: left;
    //height: 100%;
  }
}

// Offerings menu is much bigger and centered on the front page
.front .megamenu-block {
  .megamenu-link {
    height: 3.5em;
    > ul.menu {
      bottom: 100%;
      z-index: 11;
      top: auto;
    }
    .button a {
      top: 1.625em;
    }
  }
}

.not-front .megamenu-block {
  .megamenu-columns {
    @include box-shadow();
  }
}

//** Temporary IE8/9 Fixes, using \9 to link only to IE browsers. **//

#header .megamenu-block {
  .megamenu-link .button:before {
    background-color: $primary-blue \9;
  }
  .megamenu-link:hover .button:before {
    background-color: $white \9;
  }
}

// Hotfix for ie9 related issues on megamenu

.megamenu-block .megamenu-link:hover .button:before {
  margin-top: -7px \9;
  padding-bottom: 8px \9;
}
