/*
 * Footer
 */

#footer {
  color: $primary-light-blue;
  a {
    color: $primary-light-blue;
  }

  &:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: $primary-light-blue;
    z-index: -100;
  }
}

/*
 * Layout of footer to position logo
 */
.footer-inner {
  position: relative;
	@include respond-to(handheld) {
		padding-left: 0;
		padding-right: 0;
	}
	&:before {
		border-top: 1px solid $primary-light-blue;
		content: "";
		display: block;
	}

  .block {
    @include leader(1.5, $base-font-size);
    @include trailer(1.05, $base-font-size);
    margin-right: $logo-width + $gutter-width / 2;
		
		.menu__item.first {
			padding-left: 0;
		}
  }

  .logo {
    position: absolute;
    right: $gutter-width / 2;
    top: 50%;
    margin-top: $logo-height / -2;
    @include respond-to(handheld) {
      right: $handheld-wide-gutter-width;
    }
  }
}


/*
 * Footer menu
 */
.region-footer {

  ul.menu {
    @include adjust-font-size-to($sidebar-font-size);
    @include horizontal-list(false);
    @include respond-to(handheld) { padding: 0 25px 0 20px; }
		@include respond-to(narrow) { padding-left: 104px; }
    position: relative;

    li {
      @include leader(0.5);
      @include trailer(0.5);
      padding: 0 $indent-amount;

      @include fake-element(after);
      &:after {
        border-right: 1px solid;
        height: 1em;
        width: 1px;
        @include leader(0.25);
      }
      &.first:after, &.last:after {
        border-right: 0 none;
      }

      a {
        border-bottom: 1px solid;
      }
      a, span {
        @include padding-trailer(0.25);
      }
    }
    li.first {
      // assuming first link is copyright nolink
      @include respond-to(narrow) {
        position: absolute;
        left: 0;
      }
    }
  }
}