/**
 * @file
 * Search Styling
 *
 * Style anything that comes out of search results.
 */

//@import "../base";

.searchMenuHeader {
  cursor: pointer;
  background: #ddf3fa url(../../images/menu-collapsed-expanded.png) no-repeat right 6px; // Poor kitty. :(
  padding: 3px 8px;
}

.searchMenuClosed {
  overflow: hidden;
}

.searchMenuOpen {

  .searchMenuHeader {
    background-position: right -33px;
  }
}

/* Search page */
.page-search {
  .search-form {
    @include respond-to(handheld) { padding: 1em 0; }
    .form-wrapper {
      border: 1px solid $primary-blue;
      background-color: white;
      width: 100%;
      padding: 5px;
      @include box-sizing(border-box);
      .form-type-textfield {
        margin: 0;
        width: 92%;
        float: left;
        display: block;

        .form-text {
          border: 0;
          background: transparent;
          width: 100%;
          outline: none;
        }
      }

      .form-submit {
        border: 0;
        text-indent: -9999em;
        background: transparent url(../../images/search-blue.png) no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-position: center right;
        width: 7%;
        min-width: 20px;
        float: right;
        padding: 0;
      }
      @include after-clearfix();
    }
  }
  @include after-clearfix();

  /* "Search result for.." and sort by links */
  .pane-current-search-standard, .views-exposed-form {
    @include respond-to(narrow) {
      @include adjust-font-size-to($reduced-base-font-size) ;
    }
  }

  @include respond-to(narrow) {
  .bartlett-content-container {
    // contain the exposed form
    position: relative;
    .bartlett-content-column1 .current-search-item-active {
        width: (100%/.7);
      &:after {
        position: absolute;
        width: 100%;

      }
    }
  }
  }

  .current-search-item-active {
    @include padding-trailer(1);
    @include margin-trailer(0.25);
    &:after {
      content: "";
      display: block;
      border-bottom: 1px dotted;
      margin-top: 0.5em;
    }

  }

  .current-search-item-text, .views-exposed-form {
    //clear: left;
    text-transform: uppercase;
    @include adjust-font-size-to($reduced-base-font-size);
    @include writers-cramp();
    float: left;
  }


  /* Sort by tab links */
  .views-exposed-form {
    @include respond-to(handheld) { margin-bottom: 2em; }
    @include respond-to(narrow) { float: right; }
    .views-exposed-widget {
      float: right;
      //padding-right: 10px;
      padding: 0;
      label {
        font-weight: normal;
        padding: 0.1em 0.4em 0.1em 0;
      }
      .form-type-bef-link {
        a {
          background-color: $gray-2;
          color: $gray-11;
          padding: 0.1em 0.5em;
          text-decoration: none;

          &:hover {
            background-color: $pale-blue;
            color: $primary-blue;
          }
        }

        &.selected {
          a {
            background-color: $primary-blue;
            color: white;
            padding: 0.1em 0.5em;
          }
        }
      }
    }
  }

  /* fields */
  article.view-mode-search_result {
    header {
      @include leader(0.25);
      @include trailer(0.25);
    }
    .field-label {
      font-weight: normal;
    }
    .field {
      font-weight: normal;
      overflow: hidden;
    }
    .field-type-text-long, .field-type-text-with-summary {
      @include leader(0.25);
      @include trailer(0.25);
    }
  }
}


#views-exposed-form-tieto-jobs-solr-search-panel-pane-1 {
  .views-widget-filter-search_api_views_fulltext {
    float: left;
    clear: left;
    width: 92%;
    padding-right: 5px;

    .form-text {
      border: 1px solid $primary-blue;
      background-color: $white;
      width: 100%;
      padding: 5px;
      @include box-sizing(border-box);
    }
  }
  .views-submit-button {
    padding-right: 0;
    width: 7%;

    .form-submit {
      border: 0;
      @include replace-text("icons/search-white.png", 50%, 50%);
      background-color: $primary-blue;
      display: block;
      width: 30px;
      height: 30px;
      margin: 0;
    }
  }
}


/* facetapi filters */
//@include all-icons-sprites();

ul.facetapi-facetapi-links {
  a span.filter-icon {
    margin-right: 0.25em;
  }
  a.facetapi-inactive:hover span.filter-icon {
    @extend .icons-filter-red-inactive;
    width: 0px;
  }
  a.facetapi-active:hover span.filter-icon {
    @extend .icons-filter-red-active;
    width: 0px;
  }
}

ul.facetapi-facetapi-links,
.current-search-item ul {
  @include adjust-font-size-to($reduced-base-font-size);
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    margin-bottom: 0.25em;
    a {
      @include link-hover();
      span.filter-icon {
        display: inline-block;
        width: 0;
        height: 8px;
        overflow: hidden;
        padding-left: 8px;
        margin-bottom: 2px;
        vertical-align: middle;
      }
    }
  }
}

/* accordion style on filters */
.drulog-panels-accordion {

  @include mobile-hidden-content-nav();
  @include trailer(1, $base-font-size);
  .mobile-hidden-content {
    @include apply-margin(1);
    @include respond-to(narrow) { margin: 0; }
  }

  font-family: $base-font-family;

  @include adjust-font-size-to($base-font-size);
  h4.accordion-title {
    @include adjust-font-size-to($base-font-size);
    text-transform: none;
    background-color: $gray-1;
    color: $primary-blue;
    @include border-radius(0);
    border: none;
    padding: .25em 0.7em 0.4em;
    margin-top: 2px;

    .ui-icon {
      right: 0.5em;
      left: inherit;
      //margin-top: -3px;
      @extend .icons-arrow-blue-down;
      height: 7px;
      margin-top: -0.25em;
    }
    &.ui-state-active {
      .ui-icon {
        right: 0.5em;
        left: inherit;
        @extend .icons-arrow-blue-up;
      }
    }
  }
  .accordion-content {
    padding: 1em 0.7em;
    overflow:visible;

    .pane-title {
      display: none;
    }
    .pane-content {
      margin-bottom: 0;
    }
  }
}

/* Current search block */
.filters-label, .current-search-item ul li a {
  display: inline-block;
  padding: .3em .7em 0.1em;
  text-decoration: none;
}


.filters-label {
  float: left;
  margin-bottom: 0;
  padding-left: 0;
  text-transform: uppercase;
}

.current-search-item {
  ul {
    padding-left: 0;
    li {
      background-color: $gray-1;
      display: inline-block;
      a {
        span.filter-icon {
          @extend .icons-close-blue;
          float: right;
          margin: 0.5em 0 0.5em 0.5em;
        }
        &:hover span.filter-icon {
          @extend .icons-close-red;
          width: 0;
        }
      }
    }
  }
}
