.node-type-key-topics {
  /* begin - sticky nav border logic */
  &.window-handheld .sticky-navigation li {
    margin-top: 1px;
    a { margin: 0 0 0 1px; }
    &:nth-child(odd) a { margin-left: 0; }
  }
  &.window-narrow .sticky-navigation li {
    a { margin: 1px 0 0 1px; }
    &:nth-child(4) a { margin-left: 0; }
    &:nth-child(1) a,
    &:nth-child(2) a,
    &:nth-child(3) a { margin-top: 0; }
  }
  /* ends - sticky nav border logic */
}

.window-handheld .sticky-navigation.fixed-class {
	position: fixed !important;
	top: 75px !important;
	@include respond-to(handheld) {
		display: block;
	}
}

.sticky-navigation {
  z-index: 998; // One less than admin menu, otherwise admin menu shadow looks stupid
  @include respond-to(tab-portrait) {
    width: 769px!important;
  }
  @include respond-to(normal){
    width: 1000px!important;
    margin: 0 -2px;
  }
  &.floating-block-active {
    @include respond-to(normal){
      margin: 0;
    }
  }

  @include respond-to(narrow){
    width:100%;
  }
  @include respond-to(handheld) {
    background: none repeat scroll 0 0 $white;
    left: 0 !important;
    width: 101% !important;
    position: static !important;
		display: none;
  }
	
  ul {
    background-color: $white;
    @include horizontal-list(false);
    li {
      width: 100/2 * 1%;
      white-space: normal;
      overflow: visible;
      position: relative;
      @include respond-to(narrow) {
        width: 100/3 * 1%;
      }
      @include respond-to(tab-portrait) {
        width: 100/3 * 1%;
      }
      @include respond-to(normal) {
        width: 100/6 * 1%;
      }

      &:first-child a { margin-left: 0 !important; }
      &:last-child a { margin-right: -1px !important;}

      a {
        padding: 0.75em;
        @include background-hover();
        margin: 0 0 0 1px;
        display: block;
        color: $white;
        font-weight: bold;
        text-align: center;

        &:hover {
          background-color: $white;
        }
      }
    }
  }
}
