/**
 * @file
 * Views Styling
 */

//@import "../base";

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.edit-link {
  border-top: 3px solid $primary-blue;
  border-right: 3px solid $primary-blue;
  float: right;
  font-size: .9em;
  padding: .5em 30px 0;

}

/* General */
.pane-views-panes {
  //margin: 1em 0;
  margin-bottom: 1em;
}


div.contextual-links-wrapper {
  // overriding- right: 5px; top: 2px;
  top: 0;
  right: 0;
}

.contextual-links-region-active div.contextual-links-wrapper {
  z-index: 1000;
}

.views-field-contextual-links .contextual-links-wrapper {
  //padding: 1em 5px;
  top: 18px;
  right: 5px;
}

/* Exposed forms */
.views-exposed-form {
  .views-exposed-widget {
//    @include padding-leader(0.25);
//    @include padding-trailer(0.25);
  }
}

/* listing pages */
.view-tieto-news-solr-search,
.view-tieto-top-story-solr-search,
.view-tieto-events-solr-search,
.view-materialbank {

  .view-empty {
    clear: left;
  }
}

// @TODO: Some styles in this ul.highligh-list block are a bit hack-ish and unpredictable
// These views might be wiser to change to table display layout, rather than HTML list, see styles below.
ul.highlight-list {
  clear: both;
  padding-left: 0;

  li {
    list-style: none outside none;
    //display: table-row;
    border-bottom: 1px dotted $gray-9;
    //display: table-row;

    &.views-row-first {
      border-top: 1px dotted $gray-9;
    }

    h2, > a, > span, .field {
      display: table-cell;
      padding: .5em;
      width: 100%;
      //@include box-sizing(border-box);
    }
    &:hover a {
      text-decoration: none;
    }

    // Title, for rendered entities
    h2 {
      @include adjust-font-size-to($base-font-size);
      font-weight: normal;
      margin: 0;
    }
    // Date and other fields
    .date-display-single,
    .field {
      color: $gray-7;
      margin: 0;
      white-space: nowrap;
    }
  }

  li.highlight {
    border: 0 none;
    margin-bottom: 4px;

    .highlight-inner {
      color: $primary-blue;
      background: $white;
    }
    a {
      @include adjust-font-size-to($h3-font-size, $base-line-height/$base-font-size);
    }
    @include respond-to(handheld) {
      a, .date-display-single {
        display: table-cell;
        padding: 0.5em;
        width: 100%;
      }
    }
    @include respond-to(narrow) {
      float: left;
      width: 50%;
      margin-bottom: 1em;

      .highlight-inner {
        padding: $block-text-padding;
      }
      &.views-row-odd .highlight-inner {
        margin-right: 2px;
      }
      &.views-row-even .highlight-inner {
        margin-left: 2px;
      }
      a, .date-display-single {
        display: block;
        margin: .5em 0;
      }
    }
  }
}

// Listing page tables
.view-materialbank {
  table {
    color: $gray-7;
    tr {
      border-bottom: 1px dotted $gray-9;
      &.views-row-first {
        border-top: 1px dotted $gray-9;
      }
      td {
        padding: 0.5em;

        &.views-field-field-material-type {
          min-width: 25%;
        }
        &.views-field-field-date {
          width: 1px;
        }
      }
    }
  }
}

/* Search views */
.view-tieto-node-solr-search {
  float: left;
  width: 100%;
  clear: both;
  .views-row {
    margin: 1em 0;
  }
  .views-field-title a {
    font-size: $h2-font-size;
    color: $primary-blue;
    text-decoration: none;
  }
  .views-field-body * {
    margin: 0;
  }
}

.page-news .current-search-item-active {
  border-bottom: none;
  margin-bottom: 0;
}

/*.views-exposed-widget {
  @include all-icons-sprites();
  color: $primary-blue;
  > label {
    background-color: $pale-blue;
    padding: $block-text-padding;
    &:after {
      content: '';
      @extend .icons-arrow-blue-down;
      padding-left: 14px;
      height: 1em;
      float: right;
    }
  }
  .views-widget {
    display: none;
  }
}*/

.view-tieto-events-solr-search .view-content {

  border-bottom: 1px dotted;
  float: left;
  clear: both;
  margin-bottom: 1em;
  position: relative;
  width: 100%;

  .search-results:before {
    content: "";
    border-top: 1px dotted;
    position: absolute;
    left: 0;
    width: 100%;
  }

  h3, ul, li {
    @include box-sizing(border-box);
    display: inline-block;
    float: left;
    margin: 0;

  }

  h3 {
    clear: left;
    @include padding-leader(0.5, $h1-font-size);
    @include padding-trailer(0.5, $h1-font-size);

    background-color: $primary-light-blue;
    width: 24%;
    text-align: center;
    margin-top: 20px;
    white-space: nowrap;
    max-height: 5.5em;
    padding-bottom: 1.333em;
    span {
      display: inline-block;
      vertical-align: sub;
      color: white;
    }
    .date-formatter-d, .date-formatter-m {
      display: block;
    }
    @include adjust-font-size-to($h1-font-size);
    line-height: normal;
    .date-formatter-M {
      @include adjust-font-size-to($h2-font-size, lines-for-font-size($h2-font-size), $h1-font-size);
      line-height: normal;
    }
  }
  ul.search-results {
    width: 76%;
    padding: 0;
    li {
      width: 100%;
      border-bottom: 1px dotted;
      @include padding-leader(0.5);
      @include padding_trailer(0.5);
      &.views-row-last {
        border-bottom: 0 none;
        padding-left: 1em;
      }
      a {
        @include link-hover($gray-11);
      }
    }
  }

  .views-field {
    @include leader(0.25);
    @include trailer(0.25);
    overflow: hidden;
    .views-field {
      margin: 0;
    }
  }
  .views-field-field-event-postal-address {
    font-weight: bold;
    .addressfield-container-inline {
      display: inline;
      &:after {
        display: inline;
      }
    }

  }
  .views-field-title {
    @include adjust-font-size-to($h2-font-size);
    line-height: normal;
    font-weight: bold;
  }
}


/* Override flexslider.css */
//@include all-large-sprites;
.flex-nav-container {
  margin-bottom: 1em;
  z-index: 1;

  @include respond-to(handheld) {

    ul.slides {
      //margin-bottom: 2em;
    }
    ol.flex-control-nav {
      //bottom: ($base-line-height + 4) * -1;
      li {
        a {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}

.flexslider {
  background: transparent none;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 0 0;
  margin: 0 0 5px;

  .slides {
    > li {
    }
    > li.flex-active-slide {
    }
    img {
      width: auto;
    }
  }

  p {
    margin: .5em 0;
  }

  .flex-control-nav {
    bottom: $base-line-height * -1;
    @include respond-to(handheld) {
      bottom: ($base-line-height + 4) * -1;
    }
    li {
      @include respond-to(narrow) { margin: 0 3px; }
      vertical-align: bottom;
    }
    a {
      background-color: $gray-7;
      &.flex-active {
        background-color: $white;
      }
    }
  }

  .flex-direction-nav {
    a {
      width: 11px;
      height: 23px;
      margin: -12px 0 0;
      @include opacity(0.7);
      //-webkit-transition: all .3s ease;
      &.flex-next {
        @extend .large-carousel_content_arrow_right;
        right: -16px;
        z-index: 1;
      }
      &.flex-prev {
        @extend .large-carousel_content_arrow_left;
        left: -16px;
        z-index: 1;
      }
    }
  }
  &.flexslider:hover a {
  }
  &.flexslider:hover .flex-next {
  }
  &.flexslider:hover .flex-prev {
  }

}

/* Our own multiple item slide styles */
.flexslider {
  .slide-item {
    display: table-cell;
  }
}
/* Add a min height to always display content properly */
.flexslider-single {
  height: auto !important;
}
/* Landing Page Highlights and Latest Jobs common styles */
%blue-block {
  @include adjust-font-size-to($h4-font-size);
  background-color: $primary-blue;
  float: left;
  padding: 0.5em 0;
  color: $white;
  overflow: hidden;
  width: 100%;
  @include respond-to(handheld) {
    margin-bottom: 1em;
  }
  a {
    @include link-hover($white);
  }
  > div {
    margin: $block-text-padding;
    //@include respond-to(narrow-only) { margin: 0.5em; }
    @include limit-lines(2, $h4-font-size);
  }
}

.pane-tieto-jobs-panel-pane-1, .pane-tieto-page-highlights-careers {
  @include respond-to(narrow-only) {
    padding-left: $indent-amount;
    padding-right: $indent-amount;
  }
  h2.pane-title {
    @include un-title-font;
  }
  .pane-content {
    @include after-clearfix();
  }
  .views-field-title {
    text-transform: uppercase;
    @include writers-cramp();
  }
}

/* Latest jobs carousel */
.tieto-pane-wrapper .pane-tieto-jobs-panel-pane-1 {
  padding-left: 0;
  padding-right: 0;
}
.pane-tieto-jobs-panel-pane-1 {

  .pane-title {
    padding-left: 20px;
  }

  .pane-content {
    position: relative;
  }
  .view-header {
    @include sprite-arrow-link();
    position: absolute;
    right: 0;
    margin-top: -2em;
    padding-right: 20px;
  }

  .views-field-title {
    font-weight: bold;
  }
  .flexslider {
    @include after-clearfix();
  }
  .flex-viewport {
    @include respond-to(handheld) {
      //padding: 0 20px;
    }
  }
  .slides > li {
    padding-left: 20px;
    @include box-sizing(border-box);
  }

  .slide-item {
    min-height: 5.5em;
    @include respond-to(narrow) {
      display: table-cell;
      height: 7.5em;
      float: left;
      margin-bottom: 0.5em;
      width: 48%;
      &.slide-item-2 {
        float: right;
      }
    }
    @extend %blue-block;
  }
  .slide-item-1 {
  }
  .slide-item-2 {
    //@include respond-to(handheld) { margin-bottom: 0; }
  }
  .flexslider .flex-direction-nav {
    a.flex-prev { left: 3px; }
    a.flex-next { right: 3px; }
  }
}

/* jobs search */
#views-exposed-form-tieto-jobs-solr-search-panel-pane-1 {
  border-bottom: 1px dashed $gray-9;
  @include apply-margin(1);
  .views-exposed-widgets {
    margin-bottom: 1em;
  }
}

.view-id-tieto_jobs_job
{
  .views-field-field-jobs-date{
    span.date-display-start{
      display: inline;
    }
    .date-display-seperator {
      display: inline;
      font-size: inherit;
    }
  }
  .view-footer a {
    background-color: $primary-blue;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: white;
    cursor: pointer;
    float: left;
    margin: 1em 0;
    padding: 8px 40px;
  }
  .view-footer a:hover {
    background-color: $primary-red;
  }
}


.view-tieto-jobs-solr-search {
  table {
    margin-bottom: 3em;
  }
  th {
    padding: 0.75em 0 0.5em 0.5em;
  }
  td {
    padding: 0.75em 0.5em;
    vertical-align: top;
  }
  tr.even {
    background-color: $gray-1;
  }
}

/* view-tieto-jobs-job */
.view-tieto-jobs-job {
  .views-label {
    font-weight: bold;
    float: left;
    margin-right: .5em;
  }
  .views-field-field-jobs-id {
    @include after-clearfix();
    a {
      @include submit-button();
      float: left;
    }
  }
  .views-field-field-jobs-contact-information {
    .views-label {
      float: none;
    }
  }
}


/* Tieto page highlights on careers page */
.tieto-pane-wrapper .pane-tieto-page-highlights-careers {
  //padding: .5em 10px;
}
.pane-tieto-page-highlights-careers {
  .views-row-odd, .views-row-even {
    @include respond-to(narrow) {
      float: left;
      width: 32%;
      margin-right: 2%;
    }
    overflow: hidden;
  }
  .views-row-last {
    margin-right: 0;
  }
  .views-field-scald-thumbnail {

    .field-content {
      text-align: center;
      @include respond-to(narrow) {
        height: 80px;
      }
      img {
        height: 80px;
        width: auto;
        vertical-align: bottom;
      }
    }
  }
  .views-field-title {
    @extend %blue-block;
    @include respond-to(narrow) { height: 4em; }
  }
}

#header #block-views-main-carousel-block {
  clear: both;
  float: none;
  margin: 0;
}

.view-main-carousel {
  @include respond-to(handheld) {
    display: none;
  }

  .flexslider {
    margin: 0 auto;
    .slides {
    }

    img {
      min-width: 100%;
    }

    .flex-direction-nav {
      max-width: 1470px;
      position: relative;
      margin: auto;
    }

    .flex-direction-nav a {
      width: 36px;
      height: 78px;
      z-index: 10;

      &.flex-prev {
        @extend .large-carousel_arrow_left;
        left: 0;
        margin-left: 1em;
      }
      &.flex-next {
        @extend .large-carousel_arrow_right;
        right: 0;
        margin-right: 1em;
      }
    }
  }
  .flex-control-nav {
    bottom: 0;
    text-align: left;
    li {
      margin: 6px;
    }
  }

  article {
    padding-top: 140px;
    filter: inherit;

    @include respond-to(normal) { padding-top: 120px; }

    h1, p {
      margin: 0;
    }
    h1 {
      @include adjust-font-size-to($banner-font-size);
      @include title-font($banner-font-size, $alt-font-family-heavy);
      @include limit-lines(2, $banner-font-size);
    }
    div.field-name-body .field-items {
      @include adjust-font-size-to($h1-font-size);
      @include title-font($h1-font-size, $alt-font-family-normal);
      @include limit-lines(3, $h1-font-size);
      @include limit-width(46, $h1-font-size);
    }
  }

  /* Force the content to behave in width and margins like the rest of page
  content, while allowing background image to span the width of the page */
  ol.flex-control-paging,
  .node-tieto-carousel-content header,
  .node-tieto-carousel-content .field {
    max-width: $max-width - 20;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    z-index: 10;
    filter : inherit;
    &.field-name-field-background-atom {
      max-width: 100%;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
      min-width: 1900px;
      right: 0;
      z-index: 9;
      img {
        top: 0;
        position: absolute;
      }
    }
  }
  .node-tieto-carousel-content header {
    // header must have higher z-index or contextual links don't work
    z-index: 15;
  }
}

.not-front .content-carousel {
  .slides {
    overflow: hidden;
    height: 100%;
    li.flexslider_views_slideshow_slide {
    }
  }

  .views-field-scald-thumbnail {
    float: left;
    position: relative;
    background-color: $white;
    margin-top: $indent-amount / 2 * -1;
    z-index: 10;
    padding-right: $indent-amount;
    padding-bottom: $indent-amount;
    margin-bottom: $indent-amount;
  }
  .views-field-title h2.field-content {
    @include title-font();
    margin-top: 0.5em;
    @include limit-lines(4, $h2-font-size);
  }

  .views-field-body {
    background-color: $white;

    p {
      margin-bottom: 0;
    }

    img {
      margin-left: 5px;
      margin-right: 5px;
    }

    iframe {
      width: 100%;
    }

    p:first-child {
    }

    p:last-child {
      clear: both;
    }

    .field-content {
      padding: 0.5em $indent-amount 1em;
      overflow: hidden;
    }
    .views-field-content {
      float: left;
    }
  }

  .no-text {
    .views-field-body .field-content {
      padding: 0;
      p {
        margin: 0;
      }
      iframe {
        float: left;
      }
    }
  }
}
.not-front .pane_h1_title .content-carousel h2.field-content {
  @include limit-lines(4, $h1-font-size);
  margin-top: 0;
}

.frontpage-sidebar {
  h2.pane-title {
    font-size: 225%;
    @include apply-margin(0.5);
    strong {
      font-weight: normal;
    }
  }
}

.frontpage-content {
  a {
    @include link-hover($base-font-color);
  }
  .pane_icon_none, .pane_icon_topstories {
    h2.pane-title {
      @include adjust-font-size-to($tiny-heading-font-size);
      color: $header-font-color;
      text-transform: uppercase;
      padding-left: 0;
      a {
        @include link-hover($header-font-color);
      }
      &:before {
        content: none;
      }
    }

  }
}

.frontpage-content .pane_icon_none {
  .views-field-title {
    @include adjust-font-size-to($h2-font-size);
    @include title-font();
    @include link-hover();
    @include limit-lines(2, $h2-font-size);
    a {
      color: inherit;
    }
  }
  .views-field-body,
  .views-field-description {
    @include limit-lines(3);
    p {
      margin: 0;
    }
  }
  a:hover .views-field-title {
    color: $primary-red;
  }
}

.frontpage-content .pane-tieto-highlights-panel-pane-3 {
  //specifying a height on this
  @include respond-to(narrow) {
    height: 171px;
  }
}

.frontpage-content .pane_icon_topstories {
  .views-field-title h2.field-content {
    @include title-font($h2-font-size);
    a {
      @include limit-lines(1, $h2-font-size);
    }
  }
  .views-field-body {
    @include limit-lines(3);
    background-color: transparent;
    padding: 0;
  }
  @include respond-to(handheld) {
    .views-field-scald-thumbnail {
      margin: .5em 0;
    }
  }
  @include respond-to(narrow) {
    .views-field-scald-thumbnail {
      margin-right: -20px;
      margin-left: 10px;
      float: right;
      position: relative;
      // This is shady, at best
      margin-top: -1em;
      top: ($tiny-heading-font-size + $h2-font-size) * -1;
    }
  }
  .flex-nav-container {
    margin-bottom: .5em;
  }
  .flexslider {
    margin-bottom: 0;
    @include respond-to(handheld) {
      margin-bottom: 1em;
      padding-bottom: 1em;
    }
    @include respond-to(narrow) {
      height: 130px;
    }
  }
  .flex-direction-nav a {
    display: none;
  }
  .flex-control-nav {
    bottom: -0.5em;
    li {
      vertical-align: middle;
    }
    @include respond-to(handheld) {
      text-align: left;
    }
  }
}

.views-field-author, .views-field-timestamp {
  color: $header-font-color;
  @include adjust-font-size-to($h4-font-size);
  font-weight: bold;
}

.frontpage-content, .industryhub {
  h2.pane-title {
    @include apply-margin(0.5);
  }
  .field, .views-field {
    @include apply-margin(0.25);
  }
}

.frontpage-content .pane_icon_news {
  .views-field-title {
    @include limit-lines(4);
  }
}

.industryhub-footer, .frontpage-row-3 .frontpage-content {
  .views-field-title {
    @include limit-lines(2);
  }
  .views-field-body {
    @include limit-lines(3);
  }
}

.frontpage-content .view-tieto-highlights,
.industryhub .view-tieto-highlights {
  .views-field-field-event-date,
  .views-field-field-event-postal-address {
    font-weight: bold;
    @include adjust-font-size-to($h4-font-size);
    a {
      @include link-hover($header-font-color);
    }
  }
  &.event-highlight {
    a {
      @include link-hover($header-font-color);
    }
  }
  .date-display-seperator {
    display: inline;
  }
}

.industryhub .industryhub-footer {
  .field {
    margin: 0;
  }
  .views-field-title a {
    @include link-hover($base-font-color);
  }
  .field-name-field-rss-reference {
    .views-field-description {
      clear: both;
      @include limit-lines(2);
    }
  }
  .pane_span_one_col .field-name-field-rss-reference {
    .views-field-description {
      @include respond-to(normal) { display: none; }
    }
  }
}

.frontpage-content .view-content ul,
.industryhub .view-content ul {
  padding: 0;
  margin-bottom: .5em;
  margin: 0;
  li {
    list-style: none;
    margin: 0;
    @include respond-to(handheld) { margin-bottom: .5em; }
  }
}

.frontpage .panel-pane a,
.industryhub .panel-pane a {
  text-decoration: none;
}

.frontpage .panel-pane p,
.industryhub .view-tieto-highlights .views-field-body p{
  margin-top: 0;
  margin-bottom: .5em;
}

/* tieto.com/addresses */

// exposed form
#views-exposed-form-addresses-panel-pane-addresses {

  .views-exposed-widget {
    float: left;
  }

  // inputs
  #edit-city, #edit-country, #edit-zip {
    width: 100%;
  }
}


// result list
.view-addresses, .node-type-tieto-map {
  .view-display-id-office_addresses {
    margin-top: 20px;
    .field {
      margin: 0;
    }
  }
  table {
    @include respond-to(handheld) { margin: 1em 0; }
    width: 100%;
  }
  tr {
    vertical-align: top;
  }
  td {
    margin-bottom: 2em;
    @include respond-to(handheld) {
      display: block;
    }
    @include respond-to(normal) {
      float: left;
      padding: 0;
      width: 30%;
      margin-right: 5%;

      &.col-3 {
        margin-right: 0;
      }
    }
  }

  @include respond-to(narrow-only) {
    tr {
      display: inline;
      td {
        width: 44%;
        margin-right: 5%;
        display: inline-block;
        padding: 0;
      }
    }
  }

  .organisation-name {
    font-size: $h3-font-size;
    font-weight: bold;
  }
}

/* .view-tieto-contacts */
.pane-tieto-contacts-sidebar {
  margin-bottom: 0;
}

.view-tieto-contacts {
  .views-row {
    background: url("/sites/all/themes/tietocom/images/chat_user_icon.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
    clear: both;
    overflow: hidden;
    padding-left: 70px;
    margin-bottom: 30px;
  }

  .views-field-title {
    margin-bottom: 10px;
  }

  .views-field-nothing {
    //float: left;
    //  a {
    .field-content {
    }
  }
}

/* .view-tieto-times */

.view-tieto-times {
  h1 {
    @include title-font();
    @include leader(1, $h1-font-size);
    @include trailer(1, $h1-font-size);
  }
  .attachment-before {
    //border-bottom: 1px dotted;
    //padding-bottom: rhythm(1);
    .form-item {
      margin: .5em 0;
      float: right;
      @include respond-to(handheld) {
        float: left;
        margin: 1em 0;
        select {
          width: 100%;
        }
      }
    }
  }
  .view-display-id-editorial_item {
    //padding: 0 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    .view-content {
      padding: 0 10px;
    }
    h2.views-field-title {
      color: $white;
      padding: $block-text-padding;
      position: relative;
      height: rhythm(1);
      overflow: hidden;
      //margin-top: rhythm(2) * -1;
      margin: -2em 0 0 0;
      z-index: 10;
      a {
        color: $white;
      }
    }
    .views-row {
      position: relative;
      &:before {
        background-color: $primary-blue;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        @include opacity(0.7);
      }
    }
  }

  .view-display-id-magazine_selection {
    border-bottom: 1px dotted;
    //padding: 0.5em 0 ;
    margin: 0.5em 0;
    overflow: hidden;
    .form-item {
      display: block;
      padding: 1px;
      select {
        max-width: 100%;
      }
    }

    @include respond-to(narrow) {
      text-align: right;
      //.form-item {float: right;
      select {
        //   float: left;
      }
    }


  }

  table {
    margin: 0;
    margin-left: $indent-amount * -1 / 2;
    margin-right: $indent-amount * -1 / 2;
    .content-row {
      @include box-sizing(border-box);
      float: left;
      padding: $indent-amount / 2;
    }
    .col-1 {
      clear: left;
    }
  }

  @include respond-to(normal) {
    table {

      .content-row {
        width: 25%;
      }

    }
  }

  .content-row {
    line-height: normal;

    @include respond-to(narrow-only) {
      width: 50%;
      float: left;
      padding: 0;
      &.col-1, &.col-3 {
        clear: left;
        .views-field {
          margin-right: $indent-amount / 2;
        }
      }
      &.col-2, &.col-4 {
        .views-field {
          margin-left: $indent-amount / 2;
        }
      }
    }
    @include respond-to(handheld) {
      display: block;
    }

    .content-row {
      clear: both;
    }

    .views-field-created {
      // font-size: $tiny-heading-font-size;
      @include adjust-font-size-to($tiny-heading-font-size);
    }
    .views-field-title h3 {
      height: 3em;
      line-height: normal;
      margin: 0.5em auto 0 auto;
      overflow: hidden;
      padding-bottom: 0.5em;
    }
    .views-field-field-image-atom img {
      width: 100%;
    }
  }

  .pager {
    border-top: 1px dotted;
    padding: rhythm(2) 0;
  }
}

/* CV & board members pages */
.view-cv-pages{
  img {
    max-height: 290px;
    width: auto;
  }
  h3.field-content {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 25%;
  }

  table {
    width: 100%;
    max-width: 745px;
  }
  td.col-1, td.col-2 {
    width: 50%;
    padding-bottom: 3em;
  }
  td.col-1 {
    padding-right: 1em;
  }
  td.col-2 {
    padding-left: 1em;
  }
  .views-row {
    float: left;
    max-width: 48%;
    min-height: 31em;
    min-width: 48%;
  }
}
//CV pages colorbox close button
#cboxClose {
  top: 0px;
}

//Management Responsive
@include respond-to(handheld) {
  .view-cv-pages {
    p {
      padding-right: 10px;
    }
    .views-row {
      float: none;
      max-width: 95%;
    }
  }
}

/* Tieto Times */
.view-tieto-times tr {
  vertical-align: top;
}
/* Tieto Calendar */
.date-display-seperator {
  font-size: 0.33em;
}
