/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
                    /*
$icons-spacing: 20px;
$icons-position: 50%;
@import "icons/*.png";

$large-spacing: 20px;
$large-position: 50%;
@import "icons/large/*.png";
*/
@media all and (max-width: 760px) {
  .key-topics-tiles-body img {
    margin-left: 2px !important;
    margin-right: 2px !important;
  }
}

/* IE9- fixes */
.lt-ie9 .node-type-key-topics .node-webform .webform-client-form .form-item label {
  display: inline;
  margin-bottom: 0.8em;
}
